/* 회원정보 페이지 */
.fontSetting {
  font-size: 25px;
  font-style: 'Gothic A1';
}

#fontSetting {
  font-size: 30px;
  font-style: 'Gothic A1';
}

.profileTitleBox {
  border-radius: 0.2975rem;
  position: relative;
  z-index: 2;
  left: 35px;
  top: 60px;
}
.profileBox {
  padding: 60px 10px 30px 20px;
  border-radius: 0.2975rem;
  position: relative;
  z-index: 1;
  bottom: 40px;
}
.profilePic {
  position: relative;
  bottom: 70px;
}
.uploadBtn {
  position: relative;
  bottom: 90px;
}
.updateBtn {
  position: relative;
  top: 30px;
}

.userImageArea {
  width:10%;
  min-width:250px;
}
.userInfoDataArea {
  width:60%;
  min-width:400px;
}

/* 메인페이지 ( 로그인 ) */
.bgiFade-leave-active,
.bgiFade-enter-active {
  transition: all 2.5s ease;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}

.bgiFade-enter,
.bgiFade-leave {
  transition: all 2.5s;
  opacity: 0;
  visibility: hidden;
}

.fade-enter-active {
  transition: all .9s;
}

.fade-leave-active {
  transition: all .9s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.logo {
  margin-top: 20px;
  margin-right: 20px;
  width: 170px;
  height: auto;
}

.bgi {
  overflow: hidden;
}

.shadow {
  width: 110%;
  height: 870px;
  margin-left: -6%;
  background-color: rgba( 000, 000, 000, 0.5);

  text-align: center;
  vertical-align: middle;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginArea {
  margin-left: 30px;
}

.loginText {
  font-size: 40px;
  font-weight: bold;
}

.loginVButton {
  width: 300px;
  height: 60px;
  font-weight: bold;
  font-size: 30px;
}

.serviceArea img {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.imgArea {
  text-align: center;
}

.loginDivArea {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
}

.loginShadowArea {
  width: 60%;
  height: 100%;
  background-color: rgba( 000, 000, 000, 0.5);
  float: left;
}


.loginFormArea {
  width: 40%;
  height: 100%;
  background-color: white;
  float: left;
  display: table;
}

.loginButton {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.loginFormDiv {
  width: 100%;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

.loginForm {
  position: relative;
  display: inline-block;
}

.loginForm h1 {
  position: relative;
  bottom: 30px;
  font-family: "Montserrat";
  font-weight: lighter;
  font-size:50px;
}

@media ( max-width: 480px) {
  .container {
    width: auto;
  }
  .content {
    float: none;
    width: auto;
  }
}

/* 회원가입 페이지 */
.inputArea {
  width : 30em;
  display: inline-block;
}

.labelArea {
  width : 80px;
  display: inline-block;
}

.formArea {
  width : 650px;
}

.formAreaDiv {
  padding-left : 50px;
  padding-bottom : 25px;
}

.backBtnPositionDiv {
  height: 30px;
  width: 150px;
}

.btnSizeDiv {
  padding: 10px;
  float: left;
  width: 250px;
}

/* 학생 출결 */
.categoryStdAttend {
  color: #FFFFFF;
  font-size: 38px;
  position: relative;
  font-family: "Montserrat";
  font-weight: Bold;
  position: relative;
  left: 40px;
  top: 20px;
}


.attendaceCard {
  border-radius: 0.6975rem;
  position: relative;
  bottom: 110px;
  min-height: 845px;
  box-shadow:  0px 4px 10px 0 rgba(33, 33, 33, 0.36);
}


.contents {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.attendanceCheckTitleEng {
  color: white;
  font-family: inherit;
}

.attendanceCheckTitleJap {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: MS Gothic;
}

.attendance_content {
  align-content: center;
  text-align: center;
}

/* 학생 성적 - 학업 */

/* Header */
.categoryGrade {
  color: #FFFFFF;
  font-size: 38px;
  position: relative;
  font-family: "Montserrat";
  font-weight: Bold;
  position: relative;
  left: 48px;
  bottom: 50px;
}

/* scroll 관련 */
.lectureListScroll {
  overflow-y: scroll;
  height: 630px;
}

/* 강의 */
.lectureListCard {
  border-radius: 0.6975rem;
  position: relative;
  bottom: 200px;
  min-height: 845px;
  box-shadow:  0px 4px 10px 0 rgba(33, 33, 33, 0.36);
}

/* 해당 강의 성적 확인 */
.gradeCheckCard {
  border-radius: 0.6975rem;
  position: relative;
  bottom: 200px;
  min-height: 680px;
  box-shadow:  0px 4px 10px 0 rgba(33, 33, 33, 0.36);
}

/*-- 테이블 --*/
table.type03 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #ffffff;
    border-left: 3px solid #3ba204;
    margin : 20px 10px;
}
table.type03 th {
    width: 147px;
    padding: 9px;
    font-weight: bold;
    vertical-align: top;
    color: #525252;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #c7c7c7;

}
table.type03 td {
    width: 349px;
    padding: 10px;
    color: #4e872b;
    font-style: italic;
    vertical-align: top;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ccc;
}

/* 스크롤 */
/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(195, 195, 195);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 190, 190);
}

/* gradelist 최근 등록 성적 리스트 */

.menuBox {
  margin: 10px 0 0 0;
}

.gradeTable {
  margin: 70px 0 0 0;
}

#fontSetting td {
  font-size: 20px;
  font-family: "Gothic A1";
}

/* 교과목교수 강의 관리 */

.category1 {
  color: #FFFFFF;
  font-size: 50px;
  position: relative;
  font-family: "Montserrat";
  font-weight: Bold;
  position: relative;
  left: 39px;
}

.studentListBox {
  box-shadow:  0 4px 12px 0 rgba(163, 163, 163, 0.36);
  border-radius: 0.4075rem;
  position: relative;
  bottom: 148px;
}


/* 성적 업로드 부분 css */
.upload_input {
  border: 1px solid black;
  width: 300px;
}

.upload_button {
  font-family: "Gothic A1";
  font-size: 15px;
}

.contents {
  text-align: center;
}

.attendanceCheckTitleEng {
  color: white;
  font-family: inherit;
}

.attendanceCheckTitleJap {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: MS Gothic;
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}

/* 교과목 교수 메인 화면 */

.studentLists {
  overflow-y: scroll;
  max-height: 240px;
}

.firstLineCard {
  position: relative;
  bottom: 120px;
  border-radius: 0.6975rem;
  box-shadow: 0 2px 10px 3px rgba(161, 161, 161, 0.36);
  min-height: 370px;
  max-height: 370px;
}
.firstCard {
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
  color: rgb(61, 61, 61);
  position: relative;
  right: 20px;
  bottom: 3px;
}
.iconStyle {
  position: relative;
  left: -15px;
}

.mainTitle {
  display:inline-block;
  white-space:nowrap;
  font-family: "Montserrat";
  font-size: 70px;
  font-style: italic;
  font-weight: lighter;
  position: relative;
  left: 50px;
  bottom: 25px;
  position: relative;
}
.mainSubTitle {
  display:inline-block;
  white-space:nowrap;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: lighter;
  position: relative;
  left: 50px;
  bottom: 25px;
  position: relative;
}

.mainTitle:first-of-type {
  animation: showup 10s infinite;
}

.mainSubTitle:last-of-type {
  width:0px;
  animation: reveal 10s infinite;
}

.mainSubTitle:last-of-type span {
  margin-left:-355px;
  animation: slidein 10s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-1000px; }
    20% { margin-left:-1000px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

/* 스크롤 */
/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(185, 199, 250);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5491f7;
}

/* 지도교수 학생관리 */

.categoryManage {
  color: #FFFFFF;
  font-size: 50px;
  position: relative;
  font-family: "Montserrat";
  font-weight: Bold;
  position: relative;
  left: 39px;
}

.studentListBox {
  box-shadow:  0 4px 12px 0 rgba(163, 163, 163, 0.36);
  border-radius: 0.4075rem;
  position: relative;
  bottom: 150px;
}

/* 지도교수 학생(개인) 분석 예측 설정페이지 */

/*-- 헤더 영역 --*/
.categoryAnalyticSetting {
    color: #FFFFFF;
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: Bold;
    position: relative;
    left: 90px;
}

/*-- 출석 분류 기준 설정 카드 --*/
.attendanceSettingCard {
  position: relative;
  bottom: 380px;
  border-radius: 0.2975rem;
  margin: 20px 0 0 0;
  box-shadow: 0 4px 12px 0 rgba(161, 161, 161, 0.36);
}
.attendanceSettingTitleBox {
  border-radius: 0.3975rem;
  position: relative;
  z-index: 2;
  left: 43px;
  bottom: 130px;
  box-shadow:  0 4px 12px 0 rgba(97, 97, 97, 0.36);
  background: linear-gradient(to bottom right, rgb(132, 159, 213), rgb(61, 96, 241));

}
.periodBox {
  border-bottom: 1px solid;
  border-color: rgba(187, 187, 187, 0.73);
}
  .period {
    font-family: "Nanum Gothic Coding";
    font-weight: lighter;
    color: black;
    margin: 65px 0 0 20px;
  }
.frequency {
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
  color: black;
  left: 85px;
  bottom: 56px;
  position: relative;
}
.frequency_2 {
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
  color: black;
  left: 230px;
  bottom: 55px;
  position: relative;
}

/*-- 학업 분류 기준 설정 카드 --*/
.gradeSettingCard {
  position: relative;
  bottom: 225px;
  border-radius: 0.2975rem;
  box-shadow: 0 4px 12px 0 rgba(161, 161, 161, 0.36);
  position: relative;
  z-index: 1;

}
.gradeSettingTitleBox {
  border-radius: 0.3975rem;
  position: relative;
  z-index: 2;
  left: 143px;
  bottom: 130px;
  box-shadow:  0 4px 12px 0 rgba(97, 97, 97, 0.36);
  background: linear-gradient(to bottom right, rgb(132, 159, 213), rgb(61, 96, 241));
}
.standardBox {
  border-bottom: 1px solid;
  border-color: rgba(187, 187, 187, 0.73);
}
  .standard {
    font-family: "Nanum Gothic Coding";
    font-weight: lighter;
    color: black;
    margin: 65px 0 0 20px;
  }

.lowRankBox {
  position: relative;
  bottom: 20px;
  border-bottom: 1px solid;
  border-color: rgba(187, 187, 187, 0.73);
}
 .lowRankTitle {
   font-family: "Nanum Gothic Coding";
   font-weight: lighter;
   position: relative;
   right: 35px;
 }
 .lowRankText {
   font-family: "Nanum Gothic Coding";
   font-weight: lighter;
 }


.recentProblemsBox {
  position: relative;
  bottom: 40px;
}
  .recentProblemsTitle {
    font-family: "Nanum Gothic Coding";
    font-weight: lighter;
    position: relative;
    right: 35px;
  }
  .recentProblemsText {
    font-family: "Nanum Gothic Coding";
    font-weight: lighter;
  }
  .recentProblemsText_2 {
    font-family: "Nanum Gothic Coding";
    font-weight: lighter;
  }

/* 지도교수 학생 분석 예측 페이지 */

.studentPageTopDiv {
  position : relative;
  bottom : 200px;
}

.studentChartDiv {
  margin: 25px;
  height: 1380px;
}

.studentSelectedDiv {
  margin: 25px;
  height: 1500px;
}



/*-- 헤더 영역 --*/
.categoryStudentAnalytic {
  color: #FFFFFF;
  font-size: 30px;
  position: relative;
  font-family: "Montserrat";
  font-weight: Bold;
  position: relative;
  left: 40px;
  bottom: 20px;
}

/*--- 학생 분류 카드 ---*/
.studentListCard {
  border-radius: 0.7975rem;
  box-shadow:  0px 4px 10px 0 rgba(33, 33, 33, 0.36);
  width : 400px;
}

.studentListTitle {
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
  font-size: 30px;
}
.buttonBox {
  margin: 0 0 0 3px;
}
.StudentAnalyticPrediction{
  width: 100%;
  height: 100%;
}
/*-- 차트 --*/
.chartCard {
  position: relative;
  left: 10px;
  width: 720px;
  border-radius: 0.7975rem;
  box-shadow:  0px 4px 10px 0 rgba(33, 33, 33, 0.36);
}
.chartTitle {
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
  font-size: 30px;
}
.studentInfoBox {
  position: relative;
  bottom: 40px;
}
.studentInfo {
  position: relative;
  left: 87px;
}
  .textBox {
    font-family: "Nanum Gothic Coding";
    font-weight: lighter;
    font-size: 25px;
    margin: 0 0 10px 0;
  }
  .textBox span {
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: bold;
    color: rgb(125, 125, 125);
    margin: 0 10px 0 0px;
  }
.attendanceChartTypeSelect {
  position: relative;
  bottom: 100px;
}

/*-- 분류 조건 설정 --*/
.attendanceSettingTitle{
  position: relative;
  top: 5px;
  left: -10px;
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
}

/* */
.studentInfoDiv {
  overflow-y : scroll;
  height : 1100px;
}

/* 지도교수 실시간 출결 페이지 */

.studentListArea {
  overflow-y: scroll;
  height: 500px;
}

.categoryAttendance {
  color: #FFFFFF;
  font-size: 30px;
  position: relative;
  font-family: "Montserrat";
  font-weight: Bold;
  position: relative;
  left: 48px;
  bottom: 80px;
}

/* 공통 css */
.cardsTitle {
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
  font-size: 25px;
}
.currentStudentNum {
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 31px;
  position: relative;
  right: 15px;
  bottom:-3px;
}
.cardsTitleUnderLine {
  border-bottom: 1px solid;
  border-color: rgba(187, 187, 187, 0.73);
}

/* 결석 & 지각 */
.firstLineCards {
  border-radius: 0.6975rem;
  position: relative;
  z-index: 2;
  bottom: 240px;
  min-height: 680px;
  box-shadow:  0px 4px 10px 0 rgba(33, 33, 33, 0.36);
}

/* 결석 */
.absenceAndLateInfoArea {
  min-height: 550px;
  max-height: 550px;
  overflow-y: scroll;
  position: relative;
  bottom: 18px;
}

/* 등/하교 */
.attendanceCardBox {
  border-radius: 0.6975rem;
  position: relative;
  z-index: 2;
  bottom: 247px;
  min-height: 350px;
  box-shadow:  0px 4px 10px 0 rgba(33, 33, 33, 0.36);
}
.attendanceInfoArea {
  width: 400px;
  height: 330px;
  overflow-y: scroll;
  position: relative;
  bottom: 18px;
}


/* 관심 학생 */
.interestStudentBox {
  border-radius: 0.6975rem;
  position: relative;
  z-index: 2;
  bottom: 232px;
  min-height: 200px;
  width: 400px;
  box-shadow:  0px 4px 10px 0 rgba(33, 33, 33, 0.36);
  background: linear-gradient(to bottom right, rgb(165, 180, 210), rgb(61, 96, 241));
}
.interestInfoArea {
  min-height: 130px;
  max-height: 130px;
  min-width: 374px;
  overflow-y: scroll;
  position: relative;
  bottom: 18px;
}

/* 스크롤 */
/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(185, 199, 250);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5491f7;
}

/* 지도교수 지도반 분석 예측 페이지 */

.classPageTopDiv {
  position : relative;
  bottom : 200px;
}

.classChartDiv {
  margin: 25px;
  height: 440px;
}

/*-- 헤더 영역 --*/
.categoryClassAnalytic {
  color: #FFFFFF;
  font-size: 30px;
  position: relative;
  font-family: "Montserrat";
  font-weight: Bold;
  position: relative;
  left: 38px;
  bottom: 60px;
}

.classAttendanceCartBox {
  right: 10px;
  border-radius: 0.7975rem;
  box-shadow: 0 4px 10px 0 rgba(161, 161, 161, 0.36);
  width: 470px;
}
.chartTitle {
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
  font-size: 30px;
}
.classGradeCartBox {
  height: 500px;
  right: 107px;
  border-radius: 0.7975rem;
  box-shadow: 0 4px 10px 0 rgba(161, 161, 161, 0.36);
  width: 660px;
}
/* 지도교수 = 등하교학생 필터링 설정 (관심학생)*/

.fontSetting {
  font-size: 18px;
  font-weight: lighter;
  font-style: 'Gothic A1';
}

#fontSetting td {
  font-size: 18px;
  font-weight: lighter;
  font-style: 'Gothic A1';
}

.setAlertDataArea {
  width: 100%
}

.category1 {
    color: #FFFFFF;
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: Bold;
    position: relative;
    left: 50px;
    top: 40px;
}

.notificationsAddBox {
  border-radius: 0.2975rem;
  position: relative;
  z-index: 1;
  bottom: 100px;
}
.notificationsConfirmBox {
  border-radius: 0.2975rem;
  position: relative;
  z-index: 2;
  bottom: 120px;
}
.cardInsideTitle {
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
  border-bottom: 1px solid;
  padding-bottom: 6px;
  border-color: rgba(187, 187, 187, 0.73);
}


/* 학생관리  메뉴 */

.line {
  border-bottom: 1px solid rgb(218, 218, 218);
}
.studentProfileBox {
  position: relative;
  left: 20px;
  top: 5px;
}
.studentName {
  position: relative;
  left: 60px;
  bottom: 5px;
}
.className {
  font-size: 25px;
  font-family: "Nanum Gothic Coding";
  font-weight: bold;
  margin: 0 0 10px 0;
}
  .className span {
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: lighter;
    color: rgb(147, 146, 146);
    margin: 0 10px 0 0px;
  }
.studentEmail {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: lighter;
  margin: 0 0 3px 0;
}
.studentPhone {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: lighter;
}


/* 학생관리  출결 (메인) */

.cardInsideTitle {
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
  border-bottom: 1px solid;
  padding-bottom: 6px;
  border-color: rgba(187, 187, 187, 0.73);
}

.fontSetting {
  font-size: 18px;
  font-weight: lighter;
  font-style: 'Gothic A1';
}

#fontSetting td {
  font-size: 14px;
  font-weight: lighter;
  font-style: 'Gothic A1';
}


/* 학생관리  성적 */

.fontSetting {
  font-size: 18px;
  font-weight: lighter;
  font-style: 'Gothic A1';
}

#fontSetting td {
  font-size: 18px;
  font-weight: lighter;
  font-style: 'Gothic A1';
}


/* 학생관리  코멘트 */

.professor {}

.professorPic {
  margin: 0 0 10px 7px;
}
.fontSetting {
  font-size: 30px;
  font-style: 'Gothic A1';
}
/*-- 코멘트용 말풍선 --*/
.box3 {
  width: 300px;
  bottom: 80px;
  left: 110px;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: "Nanum Gothic Coding";
  position: relative;
}
/*-- 왼쪽 말풍선 --*/
.sb13:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 15px solid transparent;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}
/*-- 오른쪽 말풍선 --*/
.sb14:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #00bfb6;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}
.editDelete {
  position: relative;
  bottom: 80px;
  left: 300px;
}
